.register__footer.other {
	margin-top: 7vh;
	width: 90%;
}
.register__aside__help.other {
	margin-top: 6vh;
}
.register__main__title.other {
	// border: 1px solid red;
	width: 95%;
	// gap: 1.5vh;
}
.register__main__list__text.other {
	letter-spacing: 0.2vh;
	text-align: center;
	// border: 1px solid red;

	// margin-left: 0.4vh;
}

// .register__main__block__entered {
// 	border: 1px solid red;
// }
.register__main__line.other {
	width: 85%;
}

.register__main__header.other {
	margin-top: 5.5vh;

	// border: 1px solid red;

	width: 95%;
	height: 19.5vh + 6.4vh + 5vh;
}
.register__input__button.other {
	margin-top: 5vh;
}